# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Hyun's Tech Blog
email: dss99911@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Programming tutorials and tips for Android, Python, Kotlin, Java, DevOps.
  Language learning resources for Korean, English, Chinese.
  Tech knowledge sharing blog by Hyun.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://jeonghyeon.kim" # the base hostname & protocol for your site, e.g. http://example.com
repository: dss99911/dss99911.github.io
github_username:  dss99911

# Language setting
lang: ko

# Default Open Graph image for social sharing (used by jekyll-seo-tag)
defaults:
  - scope:
      path: ""
    values:
      image: /assets/images/og-default.png

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-redirect-from
  - jekyll-sitemap

future: true

include:
  - _pages

# Giscus Comments (https://giscus.app)
# 1. Enable Discussions in your GitHub repository
# 2. Install giscus app: https://github.com/apps/giscus
# 3. Get your config at: https://giscus.app
giscus:
  repo: dss99911/dss99911.github.io
  repo_id: "R_kgDOK1J8gQ"
  category: "Announcements"
  category_id: "DIC_kwDOK1J8gc4C0Sct"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
